


  .backcolor{
    background-color: #fc5a45;
      }
  .breadcrumb>li+li:before { padding: 0 5px; color:#d12a06 ; content: ">"; }

  .breadcrumBackColor{
    background-color: transparent;
    
    
}

.testcolor{
    color: #d12a06;
    font-weight:500;
  }