<nav class="navbar navcustom ">
  <div class=" elmdiv1"> <p class="logofont">Logo Comes Here </p> </div>
                           
  <div  class="element elmdiv2"> </div>
  
  <div class="element elmdiv3">  </div>
     
  <div class="element elmdiv4">  </div>
         
  <div class="element elmdiv5"> </div>
           
  <div class="element elmdiv4"> </div>
           
  <div class="element elmdiv6"> </div>
       
  <div class="elmdiv7">
       <ul class="nav justify-content-end">
          <li class="nav-item">
               <a class="nav-link " href="#">Home</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
           </li>
           <li class="nav-item">
                <a class="nav-link" href="#">Know your Hierarchy</a>
           </li>
           <li class="nav-item">
                <a class="nav-link" href="#" >Download</a>
           </li>
           <li class="nav-item">
                  <a class="nav-link" href="#" >Admin</a>
           </li>
      </ul>    
      <ul class="nav justify-content-end">
              <li class="nav-item">
                   <a class="nav-link font-title-name " href="#">Dealer Management System</a>
              </li>
      </ul>            
  </div>  
</nav>  
<!--Tab -->

<ul class="nav nav-tabs row tabbackcolor" id="myTab" role="tablist">
  <li class="nav-item testpad col ">
    <a class="nav-link  active acustom" id="home-tab" data-toggle="tab" href="#masters" role="tab" aria-controls="home" aria-selected="true">Masters</a>
  </li>
  <li class="nav-item testpad col ">
    <a class="nav-link  acustom" id="profile-tab" data-toggle="tab" href="#presales" role="tab" aria-controls="profile" aria-selected="false">Pre-Sales</a>
  </li>
  <li class="nav-item testpad col">
    <a class="nav-link  acustom" id="contact-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="contact" aria-selected="false">Sales</a>
  </li>
  <li class="nav-item testpad col ">
    <a class="nav-link  acustom" id="contact-tab" data-toggle="tab" href="#eventmanagement" role="tab" aria-controls="contact" aria-selected="false">Event Management</a>
  </li>
  <li class="nav-item testpad col">
    <a class="nav-link  acustom" id="contact-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="contact" aria-selected="false">Reports</a>
  </li> 
 <li class="nav-item testpad col ">
    <a class="nav-link  acustom"  data-toggle="tab" href="#accstatement" role="tab" aria-controls="contact" aria-selected="false">Account Statement</a>
  </li>
 <li class="nav-item testpad col">
  <a class="nav-link  acustom"  data-toggle="tab" href="#export" role="tab" aria-controls="contact" aria-selected="false">Export</a>
</li>
<li class="nav-item testpad col">
  <a class="nav-link  acustom"  data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Date</a>
</li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active " id="masters" role="tabpanel" aria-labelledby="home-tab">
    I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.I am in Masters.
  </div>
  <div class="tab-pane fade" id="presales" role="tabpanel" aria-labelledby="profile-tab">
    I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.I am in Pre-Sales.
   </div>
  <div class="tab-pane fade " id="sales" role="tabpanel" aria-labelledby="contact-tab">

                              
  </div>
  <div class="tab-pane fade" id="eventmanagement" role="tabpanel" aria-labelledby="contact-tab">
   I am in EventManagement.  I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement. I am in EventManagement.
  </div>
  <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="contact-tab">
   I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.  I am in Reports.
  </div>
  <div class="tab-pane fade" id="accstatement" role="tabpanel" aria-labelledby="contact-tab">
   I am in account statement.  I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement. I am in account statement.
  </div>
   <div class="tab-pane fade" id="export" role="tabpanel" aria-labelledby="contact-tab">
   I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.I am in Export Tab.
  </div>
  <!--<div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="contact-tab">
   
  </div> -->
</div>

<!--Tab End -->
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb breadcrumBackColor testcolor">
    <li class="breadcrumb-item" ><a class="testcolor" href="#">Sales</a></li>
    <li class="breadcrumb-item"><a class="testcolor"  href="#">FG Sales</a></li>
    <li class="breadcrumb-item"><a class="testcolor"  href="#">Enquiry Management</a></li>
    <li class="breadcrumb-item " aria-current="page">Create Enquiry</li>
  </ol>
</nav>

<!-- 1st Row -->
<h5>Dealer Details</h5>
<div class="row">
    <mat-form-field class="col">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

<mat-form-field class="col">
  <mat-label>Dealer Branch/ Outlet</mat-label>
  <mat-select >
    <mat-option value="option1">Option 1</mat-option>   
  </mat-select>
</mat-form-field>

<mat-form-field class="col">
  <mat-label>Sales Officers</mat-label>
  <mat-select >
    <mat-option value="option1">Option 1</mat-option>   
  </mat-select>
</mat-form-field>

<mat-form-field class="col">
  <mat-label>Source</mat-label>
  <mat-select >
    <mat-option value="option1">Option 1</mat-option>   
  </mat-select>
</mat-form-field>

<mat-form-field class="col">
  <mat-label>Source Details</mat-label>
  <mat-select >
    <mat-option value="option1">Option 1</mat-option>   
  </mat-select>
</mat-form-field>

<mat-form-field class="col">
  <mat-label>Ongoing Events</mat-label>
  <mat-select >
    <mat-option value="option1">Option 1</mat-option>   
  </mat-select>
</mat-form-field>

</div>
<br>
<!-- 1st Row ends -->

<!-- 2nd Row Starts -->
<h5>Prospect Details</h5>
   <div class="row">
      
      <mat-form-field class="col">
          <mat-label>Customer Type</mat-label>
          <mat-select >
            <mat-option value="option1">Option 1</mat-option>   
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>Title</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
          

     <mat-form-field appearance="outline" class="col">
       <mat-label>First Name </mat-label>
       <input matInput >      
     </mat-form-field>

     <mat-form-field appearance="outline" class="col">
          <mat-label>Relation</mat-label>
          <input matInput >                  
        </mat-form-field>

        <mat-form-field appearance="outline" class="col">
          <mat-label>Middle Name</mat-label>
          <input matInput >                   
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col">
          <mat-label>Last Name</mat-label>
          <input matInput >
        </mat-form-field>    
   
</div>
<!-- 2nd Row ends -->

<!-- 3rd Row Starts -->

   <div class="row">
      
      <mat-form-field appearance="outline" class="col">
          <mat-label>Date of Birth </mat-label>
          <input matInput >         
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>Age</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
          

     <mat-form-field appearance="outline" class="col">
       <mat-label>Mobile Number </mat-label>
       <input matInput >      
     </mat-form-field>

     <mat-form-field appearance="outline" class="col">
          <mat-label>Alternet Mobile Number</mat-label>
          <input matInput >         
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col">
          <mat-label>Email</mat-label>
          <input matInput >
        </mat-form-field> 

          <mat-form-field class="col">
              <mat-label>Country</mat-label>
              <mat-select >
                <mat-option value="option1">Option 1</mat-option>   
              </mat-select>
            </mat-form-field> 
   
</div>
<!-- 3rd Row ends -->

<!-- 4th Row Starts -->

   <div class="row">

      <mat-form-field appearance="outline" class="col">
          <mat-label>Territory </mat-label>
          <input matInput >      
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>State</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
          

          <mat-form-field class="col">
              <mat-label>District</mat-label>
              <mat-select >
                <mat-option value="option1">Option 1</mat-option>   
              </mat-select>
            </mat-form-field>

     <mat-form-field appearance="outline" class="col">
          <mat-label>Tehsil</mat-label>
          <input matInput >       
        </mat-form-field> 

          <mat-form-field class="col">
              <mat-label>City/Village</mat-label>
              <mat-select >
                <mat-option value="option1">Option 1</mat-option>   
              </mat-select>
            </mat-form-field>
         
        
        <mat-form-field appearance="outline" class="col">
          <mat-label>Pin Code</mat-label>
          <input matInput >
        </mat-form-field>    
   
</div>
 <!--4th  Row ends -->

<!-- 5th Row Starts -->
<h5>Prospect Background</h5>
   <div class="row">
      
      <mat-form-field class="col">
          <mat-label>Annual Income</mat-label>
          <mat-select >
            <mat-option value="option1">Option 1</mat-option>   
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>Occupation</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
          

     <mat-form-field appearance="outline" class="col">
       <mat-label>Land Size (In Acres) </mat-label>
       <input matInput >
      </mat-form-field>

       <mat-form-field class="col">
          <mat-label>Soil Type Consistency</mat-label>
          <mat-select >
            <mat-option value="option1">Option 1</mat-option>   
          </mat-select>
        </mat-form-field>
        
         
        <mat-form-field class="col">
            <mat-label>Crops Grown</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
         
        
        <mat-form-field appearance="outline" class="col">
          <mat-label>Wheat Rice</mat-label>
          <input matInput >
        </mat-form-field>    
   
</div>
<!-- 5th Row ends -->

<!-- 6th Row Starts -->
<h5>Tractor Details</h5>
   <div class="row">
      
      <mat-form-field class="col">
          <mat-label>Make</mat-label>
          <mat-select >
            <mat-option value="option1">Option 1</mat-option>   
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>Model</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>   
            </mat-select>
          </mat-form-field>
          

          <mat-form-field class="col">
              <mat-label>HP</mat-label>
              <mat-select >
                <mat-option value="option1">Option 1</mat-option>   
              </mat-select>
            </mat-form-field>
            
      
     <mat-form-field appearance="outline" class="col">
          <mat-label>Relation</mat-label>
          <input matInput >         
        </mat-form-field>

        <mat-form-field appearance="outline" class="col">
          <mat-label>Middle Name</mat-label>
          <input matInput >         
        </mat-form-field>

        <mat-form-field appearance="outline" class="col">
          <mat-label>Last Name</mat-label>
          <input matInput >
        </mat-form-field>    
   
</div>
<!-- 6th Row ends -->


<div align="center" >
    <button class="backcolor" *ngIf="!next" (click)="next=true">Next</button>
    </div>
<!-- layout-padding="" flex-gt-sm="77"   flex-gt-xs

placeholder="Leave a comment"

<form class="example-form">
     
     <mat-form-field class="example-full-width" appearance="outline" >
      <textarea matInput> </textarea>
       <mat-label>Leave a comment</mat-label>
       <input matInput >
     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      
     </mat-form-field>
   </form>
-->