<nav class="navbar navcustom ">
  <div class=" elmdiv1"> <p class="logofont">Logo Comes Here </p> </div>
                           
  <div  class="element elmdiv2"> </div>
  
  <div class="element elmdiv3">  </div>
     
  <div class="element elmdiv4">  </div>
         
  <div class="element elmdiv5"> </div>
           
  <div class="element elmdiv4"> </div>
           
  <div class="element elmdiv6"> </div>
       
  <div class="elmdiv7">
       <ul class="nav justify-content-end">
          <li class="nav-item">
               <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
           </li>
           <li class="nav-item">
                <a class="nav-link" href="#">Know your Hierarchy</a>
           </li>
           <li class="nav-item">
                <a class="nav-link" href="#" >Download</a>
           </li>
           <li class="nav-item">
                  <a class="nav-link" href="#" >Admin</a>
           </li>
      </ul>    
      <ul class="nav justify-content-end">
              <li class="nav-item">
                   <a class="nav-link font-title-name active" href="#">Dealer Management System</a>
              </li>
      </ul>            
  </div>  
</nav>  
<div class="container seetest">
 <ul class="nav nav-pills  nav-justified">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>
</div>          