th{
    color: red;
    //border: 1px solid rgb(216, 216, 216);
    font-weight: bold;
    border-left: 1px solid rgb(216, 216, 216);
}

tr{
    border: 1px solid rgb(216, 216, 216);
}



table{
    border: 1px solid rgb(216, 216, 216);
}